.brownfont {
    font-size: 20px;
    color:darkcyan;
    font-family:Verdana;
    font-style: oblique
   }
   .blackfont
   {
    font-size:medium;
    color: black;
    font-family: Verdana;
    font-weight: bold;
   }